<div class="textcontainer">
    <span class="artist">{{musicStatus.Track.Artist}}</span>
    <span class="title">{{musicStatus.Track.Title}}</span>
    <span class="album">{{musicStatus.Track.Album}}</span>
</div>
<div class="slidercontainer">
    <div class="time">{{musicStatus.Position | date: 'mm:ss'}}</div>
    <input type="range" [max]="musicStatus.Track.Duration" [value]="musicStatus.Position">
    <div class="time">{{musicStatus.Track.Duration | date: 'mm:ss'}}</div>
</div>
<div class="iconcontainer">
    <img (click)="prev()" class="icon" src="assets/prev.svg">
    <img (click)="play()" class="icon" *ngIf="!playing" src="assets/play.svg">
    <img (click)="pause()" class="icon" *ngIf="playing" src="assets/pause.svg">
    <img (click)="pnext()" class="icon" src="assets/next.svg">
</div>